

.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.mentor-container {
  display: flex;
  width: 100%;
}

.mentor-list-container {
  width: 30%;
}

.mentor-profile-container {
  width: 65%;
  padding-left: 20px;
}
